--- Day 1: Report Repair ---
After saving Christmas five years in a row, you've decided to take a vacation at a nice resort on a tropical island. Surely, Christmas will go on without you.

The tropical island has its own currency and is entirely cash-only. The gold coins used there have a little picture of a starfish; the locals just call them stars. None of the currency exchanges seem to have heard of them, but somehow, you'll need to find fifty of these coins by the time you arrive so you can pay the deposit on your room.

To save your vacation, you need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:

1721
979
366
299
675
1456
In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. Find the two entries that sum to 2020; what do you get if you multiply them together?

In [4]:
entries = [1337,
           1906,
           2007,
           1939,
           818,
           1556,
           2005,
           1722,
           1484,
           1381,
           1682,
           1253,
           1967,
           1718,
           2002,
           1398,
           1439,
           1689,
           1746,
           1979,
           1985,
           1387,
           1509,
           1566,
           1276,
           1625,
           1853,
           882,
           1750,
           1390,
           1731,
           1555,
           1860,
           1675,
           1457,
           1554,
           1506,
           1639,
           1543,
           1849,
           1062,
           1869,
           1769,
           1858,
           1916,
           1504,
           1747,
           1925,
           1275,
           1273,
           1383,
           1816,
           1814,
           1481,
           1649,
           1993,
           1759,
           1949,
           1499,
           1374,
           1613,
           1424,
           783,
           1765,
           1576,
           1933,
           1270,
           1844,
           1856,
           1634,
           1261,
           1293,
           1741,
           668,
           1573,
           1599,
           1877,
           1474,
           1918,
           476,
           1515,
           1029,
           202,
           1589,
           1867,
           1503,
           1582,
           1605,
           1557,
           587,
           1462,
           1955,
           1806,
           1834,
           1739,
           1343,
           1594,
           1622,
           1972,
           1527,
           1798,
           1719,
           1866,
           134,
           2000,
           1992,
           1966,
           1909,
           1340,
           1621,
           1921,
           1256,
           1365,
           1314,
           1748,
           1963,
           1379,
           1627,
           1848,
           1977,
           1917,
           1826,
           1716,
           1631,
           1404,
           1936,
           1677,
           1661,
           1986,
           1997,
           1603,
           1932,
           1780,
           1902,
           2009,
           1257,
           1871,
           1362,
           1662,
           1507,
           1255,
           1539,
           1962,
           1886,
           1513,
           1264,
           1873,
           1700,
           807,
           1426,
           1697,
           1698,
           1519,
           1791,
           1240,
           1542,
           1497,
           1761,
           1640,
           1502,
           1770,
           1437,
           1333,
           1805,
           1591,
           1644,
           1420,
           1809,
           1587,
           1421,
           1540,
           1942,
           470,
           1940,
           1831,
           1247,
           1632,
           1975,
           1774,
           1919,
           1829,
           1944,
           1553,
           1361,
           1483,
           1995,
           1868,
           1601,
           1552,
           1854,
           1490,
           1855,
           1987,
           1538,
           1389,
           1454,
           1427,
           1686,
           1456,
           1974]

In [6]:
test_entries = [1721,
               979,
               366,
               299,
               675,
               1456]

In [7]:
test_entries

[1721, 979, 366, 299, 675, 1456]

In [92]:
def entry_adder(entries_sample):
    added_list = []
    for i, x in enumerate(entries_sample):
        for item, value in enumerate(entries_sample):
            if i == item:
                pass
            else:            
                summed_values = x + entries_sample[item]
                new_entry = [x, value, summed_values]
                added_list.append(new_entry)
            
    return added_list

def entry_finder(entry_adder_output):
    for i in entry_adder_output:
        if i[2] == 2020:
            x,y = i[0], i[1]
            return x,y
        else:
            pass
        
def entry_multiplier(entry_finder_output):
    return entry_finder_output[0] * entry_finder_output[1]

In [104]:
# test answer
entry_adder_output_test = entry_adder(test_entries)
entry_finder_output_test = entry_finder(entry_adder_output_test)
test_answer = entry_multiplier(entry_finder_output_test)
print (entry_finder_output_test)
print (test_answer)

(1721, 299)
514579

In [102]:
# real answer
entry_adder_output = entry_adder(entries)
entry_finder_output = entry_finder(entry_adder_output)
answer = entry_multiplier(entry_finder_output)
print (entry_finder_output)
print (answer)

(134, 1886)
252724